<article class="grid_1-1">
  <section class="sec1">
    <div>
      <h2>Education</h2>
    </div>

    <div>
      <h3>2022 -</h3>
      <p>Multimedia design - Copenhagen academy - KEA</p>
      <li>Knowledge of HTML, CSS, Javascript, and Astro</li>
      <li>Visual Studio Code</li>
      <li>Understanding of Figma and XD</li>
      <li>Understanding of photo and video editing</li>

      <h3>2018-2020</h3>

      <p>Sales Trainee - Samsøe Samsøe, Copenhagen</p>
      <li>
        Sales assistant at Samsøe Samsøe store in Pilestræde, Copenhagen
        (Full-time)
      </li>
      <li>
        Responsible for, among other things, sales, purchasing clothing items
        for the store, and warehouse administration
      </li>
      <li>
        Simultaneous school attendance at Skåde Handelsfagskole as a Sales
        Trainee
      </li>
    </div>

    <h3>2018</h3>
    <p>Foreign boarding school stay with the Dansk Studie Center.</p>
    <li>
      4-month round-the-world trip, including Vietnam, New Zealand, and Costa
      Rica.
    </li>
    <li>
      Participation in a course on sports, body, and personal drive in New
      Zealand.
    </li>
    <li>
      Participation in a Communication and Personal Development course in Costa
      Rica.
    </li>
    <h3>2014-2017</h3>
    <p>
      STX (General Upper Secondary Education) at Oure Kostgymnasium and Lyngby
      Gymnasium.
    </p>
    <li>Music and Performance program at Oure Kostgymnasium (2014-2015).</li>
    <li>Language program at Lyngby Gymnasium (2015-2017)</li>
  </section>

  <section class="sec2">
    <div>
      <h2>Professional experience.</h2>
    </div>

    <div>
      <h3>2020-2023</h3>
      <p>Customer consultant at Fitness World.</p>
      <li>Customer consultant at Fitness World.</li>
      <li>Responsible for social media - Trustpilot & Falcon.</li>
      <li>Handling of member inquiries in Dixa and ServiceNow.</li>
      <li>Customer responses via live chat, email, and phone.</li>

      <h3>2018-2020</h3>

      <p>Sales Trainee - Samsøe Samsøe, Copenhagen</p>
      <li>
        Sales assistant at Samsøe Samsøe store in Pilestræde, Copenhagen
        (Full-time)
      </li>
      <li>
        Responsible for, among other things, sales, purchasing clothing items
        for the store, and warehouse administration
      </li>
      <li>
        Simultaneous school attendance at Skåde Handelsfagskole as a Sales
        Trainee
      </li>
    </div>
  </section>
</article>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (min-width: 800px) {
    article {
      margin-top: 5%;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .sec1 {
      margin-left: 40%;
    }
    .sec2 {
      margin-left: 20%;
    }
    h2 {
      font-family: Inter;
      font-weight: 900;
      color: black;
    }
    h3 {
      font-family: Inter;
      font-weight: 700;
      color: black;
      line-height: 2rem;
    }
    li {
      font-family: Montserrat;
      color: black;
      font-weight: 300;
      line-height: 2rem;
      width: 75%;
    }
    p {
      font-family: Montserrat;
      color: black;
      font-weight: 600;
      line-height: 2rem;
    }
  }
  @media (max-width: 600px) {
    h2 {
      margin-top: 20%;
      font-family: Inter;
      font-weight: 900;
      color: black;
    }
    .sec1 {
      margin-left: 10%;
    }
    .sec2 {
      margin-left: 10%;
    }
    li {
      line-height: 40px;
      font-family: Montserrat;
      color: black;
    }
    h3 {
      line-height: 60px;
      font-family: Inter;
      font-weight: 900;
      color: black;
    }
    p {
      font-weight: 600;
      font-family: Montserrat;
      color: black;
    }
  }
</style>
