---
import { Image } from "astro:assets";
import pic1 from "../assets/images/prak1.webp";
import pic2 from "../assets/images/prak2.webp";
import pic3 from "../assets/images/prak3.webp";
import pic4 from "../assets/images/prak4.webp";
---

<section class="udvalgtebilleder">
  <div class="galleri1 grid-1-1">
    <div>
      <div>
        <h2>Rejsen som Webdesigner</h2>
      </div>
      <p>
        Multimediedesign-studerende med en passion for minimalistisk æstetik og
        dyb fordybelse i designens mange facetter. Jeg trives i at skabe
        enkelhed og funktionel elegance i mine visuelle løsninger. Jeg søger
        altid nye måder at udfordre konventionelle designnormer for at skabe
        meningsfulde designs, der forbedrer brugeroplevelsen og forbinder
        teknologi med æstetik.
      </p>
    </div>

    <div class="galleri">
      <Image class="pic1" src={pic1} alt="pic1" />
      <Image class="pic2" src={pic2} alt="pic2" />
      <Image class="pic3" src={pic3} alt="pic3" />
      <Image class="pic4" src={pic4} alt="pic4" />
    </div>
  </div>
</section>

<style>
  @media (min-width: 800px) {
    .grid-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    section {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .udvalgtebilleder {
      container-type: inline-size;
    }

    @container (width > 100em) {
      .galleri1 {
        column-count: 3;
      }
    }
    @container (width > 100em) {
      .galleri1 {
        column-count: 3;
      }
    }
    /*
    .galleri img {
      margin-bottom: var(--size-3);
    }*/

    .pic1 {
      width: 350px;
      height: 350px;
    }

    .pic2 {
      width: 350px;
      height: 350px;

      margin-top: -2%;
    }

    .pic3 {
      width: 350px;
      height: 350px;
    }
    .pic4 {
      width: 350px;
      height: 350px;

      margin-top: -2%;
    }
    p {
      width: 66%;
      margin-left: 3%;
      line-height: 150%;
    }
    h2 {
      margin-left: 3%;
      width: 150%;
      margin-top: 20%;
    }
  }

  @media (max-width: 780px) {
    .grid-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    section {
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .udvalgtebilleder {
      container-type: inline-size;
    }

    @container (width <50em) {
      .galleri {
        column-count: 2;
      }
    }
    @container (width < 50em) {
      .galleri {
        column-count: 2;
      }
    }
    p {
      width: 272px;
      margin-left: 27px;
      line-height: 150%;
      font-size: 13px;
    }

    h2 {
      margin-left: 8%;
      width: 100%;
      margin-top: 45%;
      font-size: 19px;
    }

    .pic1 {
      width: 130px;
      height: 130px;
      margin-left: 13%;
      margin-top: 40%;
    }

    .pic2 {
      width: 130px;
      height: 130px;
      margin-left: 13%;

      margin-top: -6%;
    }

    .pic3 {
      width: 130px;
      height: 130px;

      margin-top: 40%;
    }
    .pic4 {
      width: 130px;
      height: 130px;

      margin-top: -6%;
    }
  }
</style>
