<section class="border">
  <h2>Hvem er jeg?</h2>

  <p>
    Jeg er 26 år gammel og bor sammen med min kæreste og vores hund på Amager.
    Jeg har en uddannelse som salgselev fra Samsøe Samsøe, hvilket betyder, at
    jeg har erfaring inden for salgs- og detailbranchen. Min interesse og
    kompetence inden for salg og forretningsverdenen afspejler min personlighed
    og passion for at arbejde med mennesker og løsninger. Jeg startede på
    Multimediedesign-uddannelsen med det formål at kunne arbejde inden for
    kreative og alternative områder. Jeg har en interesse i alt det, der ligger
    bag udviklingen af hjemmesider, og jeg ønsker at forfine mine
    designfærdigheder.
  </p>
</section>

<style>
  .border {
    background-color: var(--gray-6);
    padding: 5%; /* Tilføj padding for at skabe plads omkring indholdet */
  }
  h2 {
    text-align: center;
    color: var(--gray-3);
  }

  p {
    text-align: left;
    width: 40%;
    margin-left: 30%;
    color: var(--gray-3);
    line-height: 1.5rem;
  }
</style>
