<div>
  <h2>Kompetencer</h2>
</div>
<article class="grid_2x2">
  <!-- Ændrer grid-klassen til grid_2x2 -->
  <section class="border1 sec1">
    <div class="div1">
      <h4>Værktøjer</h4>
      <ul>
        <li>Figma</li>
        <li>XD</li>
        <li>Photoshop</li>
        <li>Visual Studio Code</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Astro</li>
      </ul>
    </div>
  </section>
  <section class="border1 sec2">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
  <section class="border1 sec3">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
  <section class="border1 sec4">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
</article>

<style>
  article {
    background-color: var(--gray-6);
  }

  .grid_2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* To kolonner */
    gap: 10px; /* Tilføjer et lille mellemrum mellem boksene */
  }
  h2 {
    text-align: center;
    margin-top: 5%;
  }
  .border1 {
    border: 6px solid var(--gray-9);
    padding: 5px;
    width: 300px;
    height: 300px;
  }
  .div1 {
    margin: 5%;
  }
  h4 {
    color: var(--gray-3);
  }
  li {
    color: var(--gray-3);
  }
  .sec1 {
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .sec2 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .sec3 {
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .sec4 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
</style>
