<div>
  <h2>Kompetencer</h2>
</div>
<article class="grid_2x2">
  <!-- Ændrer grid-klassen til grid_2x2 -->
  <section class="border1 sec1">
    <div class="div1">
      <h4>Værktøjer</h4>
      <ul>
        <li>Figma</li>
        <li>XD</li>
        <li>Photoshop</li>
        <li>Visual Studio Code</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Astro</li>
      </ul>
    </div>
  </section>
  <section class="border1 sec2">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
  <section class="border1 sec3">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
  <section class="border1 sec4">
    <h4>Værktøjer</h4>
    <ul>
      <li>Figma</li>
      <li>XD</li>
      <li>Photoshop</li>
      <li>Visual Studio Code</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Astro</li>
    </ul>
  </section>
</article>

<style>
  @media (min-width: 800px) {
    article {
      padding: 3%;

      background-image: url(../assets/images/leaf.webp);
      background-size: 109%;
    }

    .grid_2x2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* To kolonner */
      gap: 10px; /* Tilføjer et lille mellemrum mellem boksene */
    }
    h2 {
      margin-top: 5%;
      margin-left: 68%;
    }
    .border1 {
      display: flex;
      flex-direction: column;
      width: 45%;
      max-width: 600px;
      padding: var(--size-6);
      border: 30px solid transparent;
      border-image: url(../assets/images/borderLine.png) 5% stretch;
      margin-left: 30%;
    }

    .div1 {
      margin: 5%;
    }
    h4 {
      color: black;
    }

    .sec1 {
      margin-left: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .sec2 {
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 50%;
    }
    .sec3 {
      margin-left: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .sec4 {
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 50%;
    }
    li {
      color: black;
    }
  }

  @media (max-width: 780px) {
    article {
      padding: 3%;

      background-image: url(../assets/images/leaf.webp);
      background-size: 152%;
    }

    h2 {
      margin-top: 5%;
      margin-left: 68%;
    }
    .border1 {
      display: flex;
      flex-direction: column;
      width: 60%;
      max-width: 600px;
      padding: var(--size-6);
      border: 30px solid transparent;
      border-image: url(../assets/images/borderLine.png) 5% stretch;
      margin-left: 30%;
    }

    .div1 {
      margin: 5%;
    }
    h4 {
      color: black;
    }

    .sec1 {
      margin-left: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .sec2 {
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 100%;
    }
    .sec3 {
      margin-left: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .sec4 {
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 100%;
    }
    li {
      color: black;
    }
  }
</style>
