---
import { Image } from "astro:assets";
import praktik from "../assets/images/praktikside.webp";
---

<section class="grid_1-1">
  <div class="streg">
    <h2>Mine Mål og Forventninger til Praktikforløbet</h2>
    <p>
      Som multimediedesigner med en passion for webdesign og frontend-udvikling,
      søger jeg en spændende mulighed for at dygtiggøre mig inden for
      brugergrænsefladedesign og skabelse af innovative digitale løsninger. I
      løbet af min praktik forventer jeg at opbygge værdifuld praktisk erfaring
      inden for brugervenligt webdesign, udforske de nyeste tendenser inden for
      webudvikling og kontinuerligt udvikle mine kompetencer. Jeg glæder mig til
      at kaste mig ind i webdesignerens hverdag, hvor jeg kan finde inspiration
      i samarbejdet med virksomheden og deres dygtige team. Mit ultimative mål
      er at blive en dygtig og værdifuld ressource inden for webdesign, og jeg
      er fast besluttet på at bidrage positivt til enhver udfordring, der måtte
      komme min vej
    </p>
  </div>
</section>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (min-width: 800px) {
    .streg {
      display: flex;
      flex-direction: column;
      width: 70%;
      max-width: 600px;
      padding: var(--size-6);
      border: 30px solid transparent;
      border-image: url(../assets/images/borderLine.png) 5% stretch;
      margin-left: 30%;
    }

    section {
      text-align: center;
      padding: 3%;
      background-repeat: no-repeat;
      background-image: url(../assets/images/leaf.webp);
      background-size: 42%;
    }

    .pic1 {
      width: 60%;
      height: 60%;
      margin-top: 10%;
      margin-left: 20%;
    }

    p {
      line-height: 1.8rem;
      text-align: left;
      width: 100%;
      margin-top: 3%;
      font-family: Montserrat;
      color: black;
    }

    h2 {
      margin-top: 5%;
      font-family: Inter;
      font-size: 110%;
      color: black;
      font-weight: bolder;
    }
  }

  @media (max-width: 780px) {
    .streg {
      display: flex;
      flex-direction: column;
      width: 457px;
      max-width: 600px;
      padding: var(--size-6);
      border: 30px solid transparent;
      border-image: url(../assets/images/borderLine.png) 5% stretch;
      margin-left: 30%;
    }

    section {
      background-image: url(../assets/images/leaf4.webp);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 180px;
      margin-top: 20%;
    }

    p {
      text-align: left;
      width: 363px;
      margin-top: 3%;
      font-family: Montserrat;
      color: black;
      line-height: 1.7rem;
      font-size: 75%;
    }
    h2 {
      font-family: Inter;
      font-size: 99%;
      color: black;
      font-weight: bolder;
    }
  }
</style>
