---
import { Image } from "astro:assets";
import sund from "../assets/images/sundmedsigne.webp";
import match from "../assets/images/matchwinner.webp";
---

<h2>Tidligere Projekter</h2>
<section class="grid_1-1">
  <div>
    <h3>Matchwinner</h3>
    <p>
      MatchWinner is a company specializing in Mystery boxes with football
      jerseys. We had the pleasure of working with them as part of our exam
      assignment. Our task was to develop a website for them. Unfortunately, the
      website is currently on pause as it is hosted through Supabase. If you'd
      like to see the code for the website, you can find it on my GitHub
      repository: <a href="https://github.com/Jose496m/matchwinner"
        >Matchwinner github repository</a
      >

      Alternatively, I can also send a link to an active website.
    </p>
    <Image class="match" src={match} alt="match" />
  </div>
  <div>
    <h3>Sund med Signe</h3>
    <p>
      "Sund Med Signe" was our latest project in the first semester. Here, we
      worked on redesigning a website for an independent personal trainer. You
      can find the project's code on my GitHub repository: <a
        href="https://github.com/Jose496m/Sundmedsigne"
        >Sund med Signe repository</a
      >.If you want to see the result of our work, you can see it through this
      link: <a href="https://sundmedsigne.netlify.app/">The done project</a>
    </p>
    <Image class="sund" src={sund} alt="sund" />
  </div>
</section>

<style>
  @font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  }
  @font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  }
  @media (min-width: 800px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h2 {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
      font-family: Inter;
      font-weight: bolder;
      color: Black;
    }
    h3 {
      margin-bottom: 5%;
      margin-left: 40%;
      font-family: Inter;
      font-weight: 800;
      color: black;
    }
    p {
      width: 60%;
      margin-left: 20%;
      line-height: 1.8rem;
      font-family: Montserrat;
      color: black;
    }
    .match {
      width: 50%;
      height: 40%;
      margin-left: 20%;
      margin-top: 5%;
    }
    .sund {
      width: 50%;
      height: 40%;
      margin-left: 20%;
      margin-top: 16%;
    }
    a {
      text-decoration: none; /* Fjern understregningen */
      color: #333; /* Ændre linkfarven til sort (#333) */
      font-weight: bold; /* Gør linkets tekst tykkere */
    }
  }
  @media (max-width: 600px) {
    h2 {
      margin-left: 45%;
      margin-top: 15%;
      margin-bottom: 10%;
      font-family: Inter;
      font-weight: bolder;
      color: black;
    }
    h3 {
      margin-bottom: 10%;
      margin-left: 58%;
      margin-top: 10%;
      font-family: Inter;
      color: black;
      font-weight: 800;
    }
    p {
      margin-left: 31%;
      width: 385px;
      font-family: Montserrat;
      color: black;
      line-height: 1.7rem;
    }
    .match {
      width: 100%;
      height: 100%;
      margin-left: 30%;
      margin-top: 5%;
    }
    .sund {
      width: 100%;
      height: 100%;
      margin-left: 30%;
      margin-top: 5%;
    }

    a {
      text-decoration: none; /* Fjern understregningen */
      color: #333; /* Ændre linkfarven til sort (#333) */
      font-weight: bold; /* Gør linkets tekst tykkere */
    }
  }
</style>
